.benefits {
	padding: 50px 0px;
	border-bottom: 1px solid #ccc;
}

.benefits > div {
	max-width: 920px;
	padding: 0 20px;
	margin: 0 auto;
}

.benefits-section {
	@include clearfix;
}

.benefits-text {
	h2 {
		max-width: 420px;
	}
	ul {
		max-width: 300px;
	}
	p {
		margin-bottom: 40px;
		max-width: 320px;
	}
	.primaryButton {
		margin-bottom: 10px;
	}
	
}

.benefits-text--first {
	@media(min-width: 760px) {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.benefits-text--second {
	@media(min-width: 760px) {
		float: right;
		width: 50%;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
	}
}

