.comparisonTable {
	padding: 60px 0px;
	background-color: #fff;
}

.comparisonTable > div {
	max-width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}

.comparisonTable h2 {
	text-align: center;
}

.comparisonTable p {
	text-align: center;
	max-width: 600px;
	margin: 0 auto 30px;
}

.comparisonTable table {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 760px;
	margin-bottom: 20px;
}

.comparisonTable th,
.comparisonTable td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.comparisonTable thead th {
	font-size: 1em;
	@media (min-width: 500px) {
    font-size: 1.2em;
  }
}

.comparisonTable tbody td {
	text-align: center;
}

.comparisonTable .price {
	font-size: 1.5em;
	color: #ED1C5F;
	font-weight: bold;
}

.comparisonTable tbody th,
.comparisonTable tbody td {
	font-weight: normal;
	font-size: 0.75em;
	@media (min-width: 500px) {
    font-size: 1em;
  }
}

.comparisonTable tbody tr:last-child th,
.comparisonTable tbody tr:last-child td {
	border-bottom: 0;
}

.comparisonTable .title {
	display: block;
	font-weight: bold;
}


.comparisonTable-accounting,
.comparisonTable-start {
	width: 30%;
	text-align: center;
	@media (min-width: 500px) {
    width: 130px;
  }

  @media (min-width: 600px) {
    width: 150px;
  }
}

.perMonth {
	display: block;
	@media (min-width: 500px) {
    display: inline;
  }
}

.comparisonTable a {
	text-decoration: none;
	font-size: 1.1em !important;
	padding: 10px 20px !important;
	
	text-align: center;
	@media(min-width: 500px) {
		padding: 10px !important;
		display: block;
	}
}

.comparisonTable a span {
	display: none;
	@media(min-width: 500px) {
		display: inline;
	}
}


.buyStart {
	@media(min-width: 500px) {
		padding-right: 10px;
	}
}

.comparisonTable .comparisonTable-save {
	text-align: left;
}
