.comparisonTable {
	padding: 60px 0px;
	border-bottom: 1px solid #ccc;
}

.comparisonTable > div {
	max-width: 930px;
	margin: 0 auto;
	padding: 0 15px;
}

.comparisonTable h2 {
	text-align: center;
}

.comparisonTable p {
	text-align: center;
	max-width: 600px;
	margin: 0 auto 30px;
}

.comparisonTable-wrapper {
	overflow-x: auto;
	box-shadow: 0 32px 54px 0 rgba(80, 80, 80, 0.09);
	max-width: 760px;
	margin: 0 auto 30px;
}

.comparisonTable table {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}

.comparisonTable th,
.comparisonTable td {
	padding: 15px;
	border: 1px solid #ddd;
}

.comparisonTable thead th {
	font-size: 1.2em;
	border-top: none;
	vertical-align: bottom;
	text-align: center;
}

.comparisonTable thead th:nth-child(1) {
	width: 220px;
	text-align: left;
}

.comparisonTable thead th:nth-child(2),
.comparisonTable thead th:nth-child(3) {
	width: 180px;
}

.comparisonTable tbody td {
	text-align: center;
}

.comparisonTable .price {
	font-size: 1.5em;
	color: #ED1C5F;
	font-weight: bold;
}

.comparisonTable tbody th,
.comparisonTable tbody td {
	font-weight: normal;
	font-size: 1em;
	@media (min-width: 500px) {
    font-size: 1em;
  }
}

.comparisonTable tbody tr:last-child th,
.comparisonTable tbody tr:last-child td {
	border-bottom: 0;
}

.comparisonTable .title {
	display: block;
	font-weight: bold;
}

.perMonth {
	display: block;
	@media (min-width: 500px) {
    display: inline;
  }
}

.buyStart {
	@media(min-width: 500px) {
		padding-right: 10px;
	}
}

.comparisonTable .comparisonTable-save {
	text-align: left;
}

.comparisonTable-popular {
	font-size: 0.75em;
	background-color: #ffedf3;
	font-weight: normal;
	display: inline-block;
	padding: 1px 4px;
	display: block;
}

.comparisonTable .primaryButton {
	white-space: nowrap;
	margin-bottom: 10px;
}

.comparisonTable-freeTrialLink {
	white-space: nowrap;
}
