.hero {
	padding: 50px 0px;
	border-bottom: 1px solid #ccc;
}

.hero > div {
	max-width: 920px;
	padding: 0 20px;
	margin: 0 auto;
	@include clearfix;
}

.hero-text {
	@media(min-width: 760px) {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding-right: 10px;
	}
}

.hero-text p {
	margin-bottom: 40px;
	max-width: 320px;
}

.hero-text .primaryButton {
	margin-right: 10px;
	margin-bottom: 10px;
}

.hero-text .secondaryButton {
	margin-bottom: 10px;
}

.hero h1 {
	// margin-bottom: 3px;
}

.hero-cta {
	margin-bottom: 0;
}

.hero-video {
	padding-top: 10px;
	text-align: center;
	@media(min-width: 760px) {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding-left: 10px;
	}
}

.hero-video img {
	width: 100%;
	margin-bottom: 5px;
}

.company-logos img {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}