.sbc {
	padding: 60px 0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.sbc > div {
	max-width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}

.sbc h2 {
	text-align: center;
}

.sbc p {
	text-align: center;
	max-width: 600px;
	margin: 0 auto 30px;
}

.sbc ul {
	text-align: center;
	list-style: none;
	margin: 0 0 30px;
}
