<div class="benefits">
	<div>
		<h2>Why Sage Accounting</h2>
		<div class="benefits-old">
			<span class="benefits-tag">Old world</span> 
			<h3>Stressed, losing time to admin</h3>
			<ul>
				<li>Creating and sending invoices is slow and boring</li>
				<li>Managing physical receipts is painful</li>
				<li>Chasing late payments is awkward</li>
				<li>Spending time on accounts instead of your family and business</li>
				<li>Having to ask questions to your accountant</li>
			</ul>
		</div>
		<div class="benefits-new">
			<span class="benefits-tag">New world</span>
			<h3>Simple online accounting</h3>
			<ul>
				<li>Free up your time to work on your business</li>
				<li>Automatically chase overdue invoices</li>
				
				<li>Be confident you're paying the right tax on time</li>
				
				<li>UK based, award winning support you can count on</li>
			</ul>
			<div><a class="ghostButton" href="#">Try for free</a></div>
			<p>No card needed</p>
		</div>
	</div>
</div>

<!-- <ul>
<li>No more messy receipts and paperwork</li>
<li>Work with your existing accountant</li>
<li>Get paid faster by creating invoices you can track</li>
<li>Free up time for running your business, not your accounts</li>
<li>Work on your mobile, tablet and computer wherever</li>
<li>Count on award-winning customer support 24/7</li>
<li>Submit returns securely and comply with the HMRC</li>
<li>Your accounts done in minutes</li> 
<li>Get started in minutes</li>
</ul> -->