<div class="benefits">
	<div>
		<div class="benefits-text">
			<h2>Feeling stressed, losing time?</h2>
			<ul>
				<li>Creating and sending invoices is slow and boring</li>
				<li>Managing physical receipts is painful</li>
				<li>Chasing late payments is awkward</li>
				<li>Spending time on accounts instead with your family and running your business</li>
			</ul>
		</div>
		<div class="benefits-text">
			<h2>Benefits</h2>
			<ul>
				<li>Free up your time to work on your business</li>
				<li>Automatically chase overdue invoices</li>
				<li>Your accounts done in minutes</li>
				<li>Know how your performing and be confident you're paying the correct tax on time</li>
				<li>Get started in minutes</li>
			</ul>
		</div>
	</div>
</div>

<!-- <ul>
				<li>No more messy receipts and paperwork</li>
				<li>Work with your existing accountant</li>
				<li>Get paid faster by creating invoices you can track</li>
				<li>Free up time for running your business, not your accounts</li>
				<li>Work on your mobile, tablet and computer wherever</li>
				<li>Count on award-winning customer support 24/7</li>
				<li>Submit returns securely and comply with the HMRC</li>
			</ul> -->