<div class="comparisonTable">
	<div>
		<h2>Feature comparison</h2>
		<p>Cancel or upgrade at anytime.</p>

		<table>
			<thead>
				<tr>
					<th>Features</th>
					<th class="comparisonTable-start">Accounting Essentials</th>
					<th class="comparisonTable-accounting">Accounting</th>
				</tr>
			</thead>
			<tbody>
				
				<!-- <tr>
					<th scope="row">
						<span class="title">Price (first 3 months)</span>
						<span class="desc">Excluding VAT, per month</span>
					</th>
					<td class="price">£3</td>
					<td class="price">£10</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Price thereafter</span>
						<span class="desc">Excluding VAT, per month</span>
					</th>
					<td>£6</td>
					<td>£20</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">First month free</span>
						<span class="desc">Try 30 days for free, no card needed.</span>
					</th>
					<td class="price"><svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg></td>
					<td class="price"><svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg></td>
				</tr> -->
				<tr>
					<th scope="row">
						<span class="title">Sales invoicing</span>
						<span class="desc">Create sales invoices in seconds.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
  				</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Track what you’re owed</span>
						<span class="desc">See how much customers owe and chase overdue balances.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Connect your bank</span>
						<span class="desc">Bank data flows in automatically.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Reports and insight</span>
<span class="desc">Profit & loss, balance sheet, trial balance, and more.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Take care of VAT</span>
						<span class="desc">Calculate and submit VAT returns to HMRC.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Mobile apps</span>
						<span>At work, at home, on-the-go. For your tablet, and phone.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Multi-user</span>
<span class="desc">Invite your colleagues to collaborate.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Cashflow forecasts</span>
						<span class="desc">Real-time forecasts, backed up with detailed reports.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Cashflow statement</span>
						<span class="desc">Quickly track cash flows in and out of your business.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Quotes and estimates</span>
						<span class="desc">A rough estimate, or a firm quote - ready for your customers to accept.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Purchase invoices</span>
						<span class="desc">Record invoices you receive from suppliers - track what you owe, and reclaim VAT.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Multi-currency invoicing</span>
						<span class="desc">Invoice international customers in their own currency.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Analysis types</span>
						<span class="desc">Set up departments, cost-centres, and projects - get insightful reports.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Pro-forma invoices</span>
						<span class="desc">Create invoices that don't affect your accounts until your customer pays them.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Statements</span>
						<span class="desc">Send a list of all the outstanding invoices owed by a customer, so you get paid faster.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Remittance advice</span>
						<span class="desc">Send confirmation of your payments to your suppliers.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Credit notes</span>
						<span class="desc">Create credit notes for returns, to offset against future payments.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Delivery notes</span>
						<span class="desc">Print a document to send along with delivered goods to customers.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<!-- <tr>
					<th scope="row">
						
					</th>
					<td class="buyStart"><a class="primaryButton" href="/">Buy <span>Basic</span></a> <br>Free for 30 days. <br>No card needed.</td>
					<td class="buyAccounting"><a class="primaryButton" href="/">Buy <span>Standard</span></a> <br>Free for 30 days. <br>No card needed.</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</div>