<div class="contactMe">
	<div>
		<h2>Need help?</h2>
		<p>Ask a question, find out more.</p>

		<div class="contactMe-options">
			<div class="contactMe-option">
				<h3>Online chat</h3>
				<p>Speak to our online support team now.</p>
				<p><a class="secondaryButton" href="">Launch chat</a></p>
			</div>
			<div class="contactMe-option">
				<h3>Email</h3>
				<p>We aim to respond within 24 hours.</p>
				<p><a href="">support@sage.com</a></p>
			</div>
			<div class="contactMe-option">
				<h3>Phone</h3>
				<p>Calls cost 2p per minute + network access charges.</p>
				<p><a href="">0845 111 66 11</a></p>
			</div>
		</div>
	</div>
</div>