<div class="features">
	<div>
		<h2>Product features</h2>
		<p>Explore the features that take the stress away from running your business.</p>
		<div class="feature">
			<div>
				<h3>Send professional invoices quickly and get paid</h3>
				<p>Create quotes, estimates, and invoices in seconds, send them to your customers, and track what they owe. Sage One even watches your bank account for their payments.</p>
				<img src="/public/img/accounting/invoicing.png">
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>Bank feeds</h3>
				<p>Description here</p>
				<img src="/public/img/accounting/banking.png">
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>Cash flow</h3>
				<p class="feature-tag"><span>Available with Accounting only</span></p>
				<p>Description here</p>
				<img src="/public/img/accounting/banking.png">
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>VAT Return</h3>
				<p class="feature-tag"><span>Available with Accounting only</span></p>

				<p>Description here</p>
				<img src="/public/img/accounting/summary.png">
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>Core accounting reports Profit and Loss, Balance Sheet</h3>
				<p class="feature-tag"><span>Available with Accounting only</span></p>
				<p>Description here</p>
				<img src="/public/img/accounting/summary.png">
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>Play nice with your accountant or bookkeeper</h3>
				<p class="feature-tag"><span>Available with Accounting only</span></p>
				<p>Your accountant may already be using Accounting. But if not you can give them a login so they can access your account securely, without disruption.</p>
				<img src="/public/img/accounting/accountant.png">
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>Use the app on your phone on the go</h3>
				<p class="feature-tag"><span>Available with Accounting only</span></p>
				<p>Add your expenses, income and produce invoices anytime and anywhere all from your Smartphone.</p>
				<img src="/public/img/feature-mobile.png">
			</div>
		</div>
	</div>
</div>