<div class="features">
	<div>
		<h2>Product features</h2>
		<p>Explore the features that take the stress away from running your business.</p>
		<div class="feature">
			<div>
				<h3>1. Send professional invoices quickly and get paid</h3>
				<p>Create quotes, estimates, and invoices in seconds, send them to your customers, and track what they owe. Sage One even watches your bank account for their payments.</p>
				<img src="/public/img/video-placeholder.png">
				<p>Watch how it works in just 17 seconds.</p>
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>2. Snap a receipt the moment you get it</h3>
				<p>Description here</p>
				<img src="/public/img/video-placeholder.png">
				<p>Watch how it works in just 7 seconds.</p>
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>3. Instantly see how much you're making</h3>
				<p>Description here</p>
				<img src="/public/img/video-placeholder.png">
				<p>Watch how it works in just 22 seconds.</p>
			</div>
		</div>
	</div>
</div>