<div class="features">
	<div>
		<h2>Features</h2>
		<p>Discover the key online accounting features for taking care of your business.</p>
		<div class="feature">
			<div>
				<div class="feature-text">
					<h3>Send professional invoices quickly and get paid</h3>
					<p>Create quotes, estimates, and invoices in seconds, send them to your customers, and track what they owe. Accounting even watches your bank account for their payments.</p>
					<div class="feature-cta"><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (23 secs) </a></div>
					<p><a href="">Find out more</a></p>
				</div>
				<div class="feature-image">
					<div class="image">
						<p>Annotation</p>
						<img src="/public/img/image-placeholder.png">
					</div>
				</div>
			</div>
		</div>
		<div class="feature">
			<div>
				<div class="feature-text">
					<h3>Cash flow</h3>
					<p class="feature-tag"><span>Available with Accounting only</span></p>
					<p>See how much money is coming in and going out of your business each month in one place.</p>
					<div class="feature-cta"><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (11 secs) </a></div>
					<p><a href="">Find out more</a></p>
				</div>
				<div class="feature-image">
					<div class="image">
						<p>Annotation</p>
						<img src="/public/img/image-placeholder.png">
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="feature">
			<div>
				<div class="feature-text">
					<h3>Manage your books</h3>
					<p class="feature-tag"><span>Available with Accounting only</span></p>
					<p>Accounting provides profit and loss reports and a balance sheet so you can grow your business faster.</p>
				</div>
				<div class="feature-image">
					<img src="/public/img/accounting/taxbreakdown.png
					">
				</div>
			</div>
		</div> -->
		<div class="feature">
			<div>
				<div class="feature-text">
					<h3>Work with your accountant or bookkeeper</h3>
			
					<p>Your accountant may already be using Accounting. But if not you can give them a a secure login, so they can manage your account.</p>

					<div class="feature-cta"><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (17 secs) </a></div>
					<p><a href="">Find accountant</a></p>
				</div>
				<div class="feature-image">
					<div class="image">
						<p>Annotation</p>
						<img src="/public/img/image-placeholder.png">
					</div>
				</div>
			</div>
		</div>
		<div class="feature">
			<div>
				<div class="feature-text">
					<h3>Work on your finances, on the go</h3>
				
					<p>Add your expenses, income and produce invoices anytime and anywhere with your smartphone or with our smart digital assistant Pegg.</p>

					<div class="mobile-apps">
						<a href="https://itunes.apple.com/gb/app/sage-expenses-invoices/id1079349866?mt=8" target="_blank"><img src="https://sageone-uk-wordpress.s3.amazonaws.com/arcturus/visuals/icons/badge-apple.svg"></a>
		    		<a href="https://play.google.com/store/apps/details?id=com.sageone.raven&amp;hl=en_GB" target="_blank "><img src="https://sageone-uk-wordpress.s3.amazonaws.com/arcturus/visuals/icons/badge-google.svg"></a>
		    	</div>

					<p><a href="">Find out more</a></p>
				</div>
				<div class="feature-image">
					<div class="image">
						<p>Annotation</p>
						<img src="/public/img/image-placeholder.png">
					</div>
				</div>
			</div>
		</div>
		<div class="feature">
			<div>
				<div class="feature-text">
					<h3>VAT Return</h3>
					<p class="feature-tag"><span>Available with Accounting only</span></p>

					<p>Submit accurate VAT returns
	Prepare accurate, compliant returns easily.</p>
					<div class="feature-cta"><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (22 secs) </a></div>
					<p><a href="">Find out more</a></p>
				</div>
				<div class="feature-image">
					<div class="image">
						<p>Annotation</p>
						<img src="/public/img/image-placeholder.png">
					</div>
				</div>
			</div>
		</div>
		<div class="feature">
			<div>
				<div class="feature-text">
					<h3>Bank feeds</h3>
					<p>Save time with bank feeds 
	Connect to your bank accounts and pull in transactions automatically.</p>
					<div class="feature-cta"><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (9 secs) </a></div>
					<p><a href="">Find out more</a></p>
				</div>
				<div class="feature-image">
					<div class="image">
						<p>Annotation</p>
						<img src="/public/img/image-placeholder.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>