<div class="hero">
	<div>
		<div class="hero-text">
			<img src="/public/img/sbc.png" width="140">
			{{headings.h1('Accounting')}}
			<p>Take the stress out of running your business. It's perfect for sole traders, freelancers and small businesses.</p>

			<!-- <ul>
				<li>No more messy receipts and paperwork</li>
				<li>Work with your existing accountant</li>
				<li>Get paid faster by creating invoices you can track</li>
				<li>Free up time for running your business, not your accounts</li>
				<li>Work on your mobile, tablet and computer wherever</li>
				<li>Count on award-winning customer support 24/7</li>
				<li>Submit returns securely and comply with the HMRC</li>
			</ul> -->
			<div class="hero-cta">
				<a href="/buy" class="primaryButton">Start 30 day free trial</a><!-- <a href="#pricing" class="secondaryButton">See pricing</a> -->
			</div>
			<p>No card needed. Cancel anytime.</p>
			<div class="company-logos">
        <img src="/public/img/accounting/company-logos/techcrunch.png" class="techcrunch" width="100">
        <img src="/public/img/accounting/company-logos/ca.png" class="ca" width="70">
        <img src="/public/img/accounting/company-logos/sundayexpress.png" class="sundayexpress" width="140">

        <img src="/public/img/accounting/company-logos/thememo.png" class="thememo" width="100">
        <img src="/public/img/accounting/company-logos/uktn.png" class="uktn" width="100">
        <img src="/public/img/accounting/company-logos/accountingweb.png" class="accountingweb" width="120">
			</div>
		</div>
		<div class="hero-video">
			<div class="image">
				<p>Concise overview video showing how Accounting works and what the benefits are.</p>
				<img src="/public/img/image-placeholder.png">
			</div>
			<div class="hero-cta"><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (49 secs) </a></div>
		</div>
	</div>
</div>