<div class="hero">
	<div>
		<div class="hero-text">
			{{headings.h1('Accounting')}}
			<p>Simple online accounting for sole traders, freelancers and small businesses. Sort out the mess and stress of managing your business.</p>
			<ul>
				<li>Snap and sort receipts quickly and easily.</li>
				<li>Get paid faster by creating invoices that you can track.</li>
				<li>Free up time to run your business, not your accounts.</li>
				<li>Work with your existing accountant.</li>
				<li>Work on your mobile, tablet and computer wherever.</li>
				<li>Award winning 24/7 customer support</li>
			</ul>
			<p><a href="/buy" class="primaryButton">Buy now</a> <br>Free for 30 days. No card needed.</p>
		</div>
		<div class="hero-video">
			<img src="/public/img/video-placeholder.png">
			Watch how it works in just 37 seconds.
		</div>
	</div>
</div>