<div class="hero">
	<div>
		<div class="hero-text">
			<p class="hero-sbc">Part of <a href="#sbc">Sage Business Cloud</a></p>
			{{headings.h1('Accounting')}}
			<p>Simple online accounting for sole traders, freelancers and small businesses. Sort out the mess and stress of managing your business.</p>
			<ul>
				<li>Snap and sort receipts quickly and easily.</li>
				<li>Get paid faster by creating invoices that you can track.</li>
				<li>Free up time to run your business, not your accounts.</li>
				<li>Work with your existing accountant.</li>
				<li>Work on your mobile, tablet and computer wherever.</li>
				<li>Award winning 24/7 customer support</li>
				<li>Secure and HMRC compliant</li>
			</ul>
			<p class="hero-cta"><a href="/buy" class="primaryButton">Start 30 day free trial</a><a href="#pricing" class="secondaryButton">See pricing</a>
			<p>No card needed. Cancel anytime.</p>
		</div>
		<div class="hero-video">
			<iframe style="width: 100%;" width="640" height="300"
  src="https://www.youtube.com/embed/W8JyhaZWhIM"
  frameborder="0"></iframe>
			Watch how it works in just 46 seconds.
		</div>
	</div>
</div>