{% extends 'layouts/default.html' %}
{% set nav = "home" %}

{% import "macros/headings.html" as headings %}

{% block content %}

<!-- <div class="sub">
	<a href="#">Accounting <span aria-hidden="true">&#x25be;</span></a>
</div> -->

<div class="hero">
	<div>
		<div class="hero-text">
			{{headings.h1('Accounting')}}
			<p>Simple online accounting for sole traders, freelancers and small businesses. Sort out the mess and stress of managing your business.</p>
			<ul>
				<li>Snap and sort receipts quickly and easily.</li>
				<li>Get paid faster by creating invoices that you can track.</li>
				<li>Free up time to run your business, not your accounts.</li>
				<li>Work with your existing accountant.</li>
				<li>Work on your mobile, tablet and computer wherever.</li>
				<li>Award winning 24/7 customer support</li>
			</ul>
			<p><a href="/buy" class="primaryButton">Buy now</a> <br> First month is free.</p>


			 <!-- <a href="/trial" class="secondaryButton">Start free 30 day trial</a></p> -->
		</div>
		<div class="hero-video">
			<img src="/public/img/video-placeholder.png">
			Watch how it works in just 37 seconds.
		</div>
	</div>
</div>
<div class="features">
	<div>
		<h2>Product features</h2>
		<p>Explore the features that take the stress away from running your business.</p>
		<div class="feature">
			<div>
				<h3>1. Send professional invoices quickly and get paid</h3>
				<p>Create quotes, estimates, and invoices in seconds, send them to your customers, and track what they owe. Sage One even watches your bank account for their payments.</p>
				<img src="/public/img/video-placeholder.png">
				<p>Watch how it works in just 17 seconds.</p>
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>2. Snap a receipt the moment you get it</h3>
				<p>Description here</p>
				<img src="/public/img/video-placeholder.png">
				<p>Watch how it works in just 7 seconds.</p>
			</div>
		</div>
		<div class="feature">
			<div>
				<h3>3. Instantly see how much you're making</h3>
				<p>Description here</p>
				<img src="/public/img/video-placeholder.png">
				<p>Watch how it works in just 22 seconds.</p>
			</div>
		</div>
	</div>
</div>
<div class="comparisonTable">
	<div>
		<h2>Choose package</h2>
		<p>Cancel or upgrade at anytime.</p>
		<table>
			<thead>
				<tr>
					<th>Features</th>
					<th class="comparisonTable-start">Basic</th>
					<th class="comparisonTable-accounting">Standard</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">
						<span class="title">Price</span>
						<span class="desc">Excluding VAT, per month</span>
					</th>
					<td class="price">£3</td>
					<td class="price">£10</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Sales invoicing</span>
						<span class="desc">Create sales invoices in seconds.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
  				</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Track what you’re owed</span>
						<span class="desc">See how much customers owe and chase overdue balances.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Connect your bank</span>
						<span class="desc">Bank data flows in automatically.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Reports and insight</span>
<span class="desc">Profit & loss, balance sheet, trial balance, and more.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Take care of VAT</span>
						<span class="desc">Calculate and submit VAT returns to HMRC.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Mobile apps</span>
						<span>At work, at home, on-the-go. For your tablet, and phone.</span>
					</th>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Multi-user</span>
<span class="desc">Invite your colleagues to collaborate.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Cashflow forecasts</span>
						<span class="desc">Real-time forecasts, backed up with detailed reports.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Cashflow statement</span>
						<span class="desc">Quickly track cash flows in and out of your business.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Quotes and estimates</span>
						<span class="desc">A rough estimate, or a firm quote - ready for your customers to accept.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Purchase invoices</span>
						<span class="desc">Record invoices you receive from suppliers - track what you owe, and reclaim VAT.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Multi-currency invoicing</span>
						<span class="desc">Invoice international customers in their own currency.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Analysis types</span>
						<span class="desc">Set up departments, cost-centres, and projects - get insightful reports.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Pro-forma invoices</span>
						<span class="desc">Create invoices that don't affect your accounts until your customer pays them.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Statements</span>
						<span class="desc">Send a list of all the outstanding invoices owed by a customer, so you get paid faster.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Remittance advice</span>
						<span class="desc">Send confirmation of your payments to your suppliers.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Credit notes</span>
						<span class="desc">Create credit notes for returns, to offset against future payments.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<span class="title">Delivery notes</span>
						<span class="desc">Print a document to send along with delivered goods to customers.</span>
					</th>
					<td></td>
					<td>
						<svg width="20" viewBox="0 0 10 10">
  						<path d="m7.5125 1.123 1.7321 1-4 6.9282-4.3301-2.5 1-1.7321 2.5981 1.5z"></path>
  					</svg>
					</td>
				</tr>
				<tr>
					<th scope="row">
						
					</th>
					<td class="buyStart"><a class="primaryButton" href="/">Buy <span>Basic</span></a> <br>First month is free.</td>
					<td class="buyAccounting"><a class="primaryButton" href="/">Buy <span>Standard</span></a> <br>First month is free.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- <div class="actions">
		<div class="actions-start">
			<a class="primaryButton" href="/">Buy <span>Start</span></a>
		</div><div class="actions-accounting">
			<a class="primaryButton" href="/">Buy <span>Accounting</span></a>
		</div>
	</div> -->
</div>
<div class="testimonial">
	<div>
		<h2>Join 6+ million customers globally using Sage Accounting</h2>
		<p>See how Andy runs his business with Sage Accounting.</p>
		<img src="/public/img/video-placeholder.png">
	</div>
</div>
<!-- <div class="switch">
	<div>
		<h2>Switch to Sage Accounting today</h2>
		<p>Join thousands who are ditching Excel spreadsheets for Sage accounting. Say goodbye to Excel spreadsheets and needless paper work.</p>
		<img src="/public/img/video-placeholder.png">
	</div>
</div> -->
<div class="payroll">
	<div>
			<h2>Sage Payroll</h2>
			<p>Whether you’re a small business, a charity or a large company, our HMRC-recognised cloud payroll software will help you streamline and automate your payroll process.</p>
			<p>You can add use Sage Payroll on its own our in addition to Sage Accounting—whichever suits you.</p>
			<p><a class="secondaryButton" href="/">See Payroll</a></p>
	</div>
</div>

{% endblock content %}