{% extends 'layouts/default.html' %}
{% set nav = "home" %}

{% import "macros/headings.html" as headings %}

{% block content %}

<!-- <div class="sub">
	<a href="#">Accounting <span aria-hidden="true">&#x25be;</span></a>
</div> -->

{% include "./hero.html" %}
{% include "./features.html" %}
{% include "./comparison-table.html" %}
{% include "./pricing.html" %}
{% include "./testimonial.html" %}
{% include "./mobile.html" %}
{% include "./contact-me.html" %}
<!-- {% include "./payroll.html" %} -->

{% endblock content %}