{% extends 'layouts/default.html' %}
{% set nav = "home" %}

{% import "macros/headings.html" as headings %}

{% block content %}

<!-- <div class="sub">
	<a href="#">Accounting <span aria-hidden="true">&#x25be;</span></a>
</div> -->

<div class="hero">
	<p class="badge">Sage Business Cloud</p>
	{{headings.h1('Accounting')}}
	<p>Accounting for freelancers and small businesses like you.</p>
	
	<ul>
		<li>No more receipts in shoe boxes</li>
		<li>No more accounting on the weekends and evenings (unless you want to)</li>
		<li>Send new invoices and keep track of unpaid invoices. Send professional reminders</li>
		<li>24/7 customer support</li>
	</ul>

	<p><a class="primaryButton">Buy Accounting</a></p>

	<div class="video">
		Photo/Video showing this thing works on device and on desktop etc while giving a feel for the product
	</div>

</div>
<div class="comparisonTable">
	<h2>Choose package</h2>
	<p>Cancel or upgrade at anytime.</p>
	<table>
		<thead>
			<tr>
				<th>Features</th>
				<th class="comparisonTable-start">Start</th>
				<th class="comparisonTable-accounting">Accounting</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">
					Price (ex VAT)
					<span class="perMonth">per month</span>
				</th>
				<td class="price">£3</td>
				<td class="price">£10</td>
			</tr>
			<tr>
				<th scope="row">
					Create invoices
				</th>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Track what you're owed
				</th>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Connect your bank
				</th>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Reports and insight
				</th>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Take care of VAT
				</th>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Mobile apps
				</th>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Multi-user
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Cashflow forcasts and statements
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Create quotes and estimates
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Record supplier invoices
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Multi-company
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Multi-currency invoicing
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Remittance advice
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Credit notes
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					Delivery notes
				</th>
				<td></td>
				<td>Yes</td>
			</tr>
			<tr>
				<th scope="row">
					
				</th>
				<td><a class="primaryButton" href="/">Buy <span>Start</span></a></td>
				<td><a class="primaryButton" href="/">Buy <span>Accounting</span></a></td>
			</tr>
		</tbody>
	</table>
	<!-- <div class="actions">
		<div class="actions-start">
			<a class="primaryButton" href="/">Buy <span>Start</span></a>
		</div><div class="actions-accounting">
			<a class="primaryButton" href="/">Buy <span>Accounting</span></a>
		</div>
	</div> -->
</div>

<div class="placeholder">
	Features
</div>
<div class="placeholder">
	Testimonials
</div>
<div class="placeholder">
	Not right for you?
</div>

{% endblock content %}