<div class="marketPlace">
	<div>
		<h2>Connect apps you love</h2>
		<p>We have hundreds of useful apps you can connect to Accounting that help you run your business</p>
		<div class="marketPlace-items">
			<a href="">
				<div class="marketPlace-item">
					<div class="image">
						<p>Logo</p>
						<img src="/public/img/image-placeholder.png">
					</div>
					<h3>App name</h3>
					<p>Description</p>	
				</div>
			</a>
			<a href="">
				<div class="marketPlace-item">
					<div class="image">
						<p>Logo</p>
						<img src="/public/img/image-placeholder.png">
					</div>
					<h3>App name</h3>
					<p>Description</p>	
				</div>
			</a>
			<a href="">
				<div class="marketPlace-item">
					<div class="image">
						<p>Logo</p>
						<img src="/public/img/image-placeholder.png">
					</div>
					<h3>App name</h3>
					<p>Description</p>	
				</div>
			</a>
		</div>

		<div class="marketPlace-cta">
			<a class="secondaryButton" href="#">Explore more apps</a>
		</div>


	</div>
</div>