<div class="pricing" id="pricing">
	<div>
		<h2>Pricing</h2>
		<p class="pricing-description">30 days free. First 3 months 50% off. Cancel anytime.</p>

		<div class="pricing-products">
			<div class="pricing-basic">
				<h3>Basic</h3>
				<p class="pricing-price">
					<span>£3 per month</span>
					<span class="pricing-vat">+ VAT</span>
				</p>
				<p class="pricing-priceAfter">
					<span>£6 + VAT per month</span>
				</p>
				<p>A short description</p>
				<ul>
					<li>Feature</li>
					<li>Feature</li>
					<li>Feature</li>
					<li>Feature</li>
					<li>Feature</li>
				</ul>
				<a class="primaryButton" href="#">Start 30 day free trial</a>
				<p>No card needed. Cancel anytime.</p>
			</div>

			<div class="pricing-standard">
				<h3>Standard</h3>
				<p class="pricing-price">
					<span>£10 per month</span>
					<span class="pricing-vat">+ VAT</span>
				</p>
				<p class="pricing-priceAfter">
					<span>£20 + VAT per month</span>
				</p>
				<p>A short description</p>
				<p><strong>Everything in Basic plus:</strong></p>
				<ul>
					<li>Feature</li>
					<li>Feature</li>
					<li>Feature</li>
				</ul>

				<a class="primaryButton" href="#">Start 30 day free trial</a>
				<p>No card needed. Cancel anytime.</p>
			</div>
		</div>
	</div>
</div>