<div class="pricing" id="pricing">
	<div>
		<h2>Pricing</h2>
		<p class="pricing-description">30 days free. Save 50% for the first three months. Cancel anytime.</p>

		<div class="pricing-products">
			<div class="pricing-basic">
				<h3>Accounting Essentials</h3>
				<p class="pricing-price">
					<span>from £3 per month</span>
					<span class="pricing-vat">+ VAT</span>
				</p>
				<p class="pricing-priceAfter">
					<span>£6 per month + VAT after 3 months</span>
				</p>
				<p>A short description</p>
				<ul>
					<li>Feature</li>
					<li>Feature</li>
					<li>Feature</li>
					<li>Feature</li>
					<li>Feature</li>
				</ul>
				<a class="primaryButton" href="/buy">Start 30 day free trial</a>
				<p>No card needed</p>
			</div>

			<div class="pricing-standard">
				<h3>Accounting</h3>
				<p class="pricing-price">
					<span>£10 per month</span>
					<span class="pricing-vat">+ VAT</span>
				</p>
				<p class="pricing-priceAfter">
					<span>£20 per month + VAT after 3 months</span>
				</p>
				<p>A short description</p>
				<p><strong>Everything in Basic plus:</strong></p>
				<ul>
					<li>Feature</li>
					<li>Feature</li>
					<li>Feature</li>
				</ul>

				<a class="primaryButton" href="/buy">Start 30 day free trial</a>
				<p>No card needed</p>
			</div>
		</div>
	</div>
</div>