<div class="sbc" id="sbc">
	<div>
		<h2>Payments and Payroll sorted too</h2>
		<p class="sbc-description">More than just Accounting. With Sage Business Cloud you can solve your payroll and payment problems too.</p>

		<div class="sbc-items">
			<div class="sbc-item">
				<h3>Payroll</h3>
				<p>Description goes here. Description goes here.</p>
				<a class="secondaryButton" href="">Visit Payroll</a>
			</div>
			<div class="sbc-item">
				<h3>Pay</h3>
				<p>Description goes here. Description goes here.</p>
				<a class="secondaryButton" href="">Visit Pay</a>
			</div>
		</div>
	</div>
</div>