<nav class="subNav">
	<button aria-expanded="false">&#9776; Menu</button>
	<div class="subNav-items">
		<div class="subNav-features">
			<p>Features</p>
			<ul>
				<li><a href="">Feature 1</a></li>
				<li><a href="">Feature 2</a></li>
				<li><a href="">Feature 3</a></li>
				<li><a href="">Feature 4</a></li>
			</ul>
		</div>
		<div class="subNav-other">
			<p>Other</p>
			<ul>
				<li><a href="">Accounting updates</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Tips and advice</a></li>
				<li><a href="">Support</a></li>
			</ul>
		</div>
	</div>
</nav>