<div class="testimonial">
	<div>
		<h2>Join over three million customers around the world using Sage</h2>

		<div class="testimonial-item">
			<blockquote>
				<p>“Accounting helps me check my cashflow quickly and run my business on the go, where ever I am.”</p>
			</blockquote>
			<p>Andrew Nisson, Company Name</p>
			<div><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (37 secs)</a></div>
		</div>
		<div class="testimonial-item">
			<blockquote>
				<p>“I no longer have to do the accounting on the weekend. Accounting takes the pain away.”</p>
			</blockquote>
			<p>Gemma Smith, Company Name</p>
			<div><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (22 secs)</a></div>
		</div>
		<div class="testimonial-item">
			<blockquote>
				<p>“Accounting saves me so much time and hassle creating and chasing invoices from difficult clients.”</p>
			</blockquote>
			<p>Kevin Hunt, Company Name</p>
			<div><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (19 secs)</a></div>
		</div>
	</div>
</div>