<div class="testimonial">
	<div>
		<h2>Join over three million customers around the world using Sage</h2>

		<div class="testimonial-item">
			<h3>Watch how Accounting helps Andrew run Weekend Box Club</h3>
			<p>“Little quote”</p>
			<div><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (37 secs)</a></div>
		</div>
		<div class="testimonial-item">
			<h3>Watch how Accounting helped Gemma with her growing business.</h3>
			<p>“Little quote”</p>
			<div><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (22 secs)</a></div>
		</div>
		<div class="testimonial-item">
			<h3>Watch how Accounting lets Kevin Hunt do his accounts on site.</h3>
			<p>“Little quote”</p>
			<div><a class="secondaryButton" href=""><span>&#9658;</span> Watch video (19 secs)</a></div>
		</div>
	</div>
</div>