{% extends 'layouts/default.html' %}
{% set nav = "home" %}

{% import "macros/headings.html" as headings %}

{% block content %}

<div class="hero">
	{{headings.h1('Sage One')}}
	<p>Accounting for freelancers and small businesses.</p>
</div>

<div class="placeholder">
	Placeholder component
</div>
<div class="placeholder">
	Placeholder component
</div>
<div class="placeholder">
	Placeholder component
</div>
<div class="placeholder">
	Placeholder component
</div>
<div class="placeholder">
	Placeholder component
</div>

{% endblock content %}