{% extends 'layouts/default.html' %}

{% import "macros/headings.html" as headings %}

{% block content %}

<div class="hero">
	{{headings.h1('Sage Live')}}
	<p>Powerful accounting for small and medium-sized companies.</p>
</div>

<div class="placeholder">
	Placeholder component
</div>
<div class="placeholder">
	Placeholder component
</div>
<div class="placeholder">
	Placeholder component
</div>
<div class="placeholder">
	Placeholder component
</div>
<div class="placeholder">
	Placeholder component
</div>

{% endblock content %}