* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open sans', helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  font-size: 100%;
}

a {
	color: #255BC7;
}

@mixin clearfix {
  &:after {
    visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
  }
}

.visually-hidden {
	border: 0!important;
  clip: rect(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}

.header {
	background-color: #222;
	padding: 20px 20px;
	overflow: hidden;
}

h1 {
	font-size: 2.2em;
	line-height: 1;
	color: #222;
	margin-bottom: 10px;
}

@media(min-width: 30em) {
	h1 {
		font-size: 2.8em;
		margin-bottom: 20px;
	}
}

h2 {
	font-size: 1.4em;
	line-height: 1;
	color: #222;
	margin-bottom: 10px;
	@media(min-width: 30em) {
		font-size: 2em;
	}
}

h3 {
	font-size: 1em;
	line-height: 1;
	color: #222;
	margin-bottom: 10px;
	@media(min-width: 30em) {
		font-size: 1.2em;
	}
}

p {
	margin-bottom: 20px;
}

ul {
	margin-bottom: 30px;
	margin-left: 25px;
}

.hidden {
	display: none;
}

.sub {
	background-color: #f5f5f5;
	padding: 10px;
	overflow: hidden;
}

.sub a {
	text-decoration: none;
	display: inline-block;
	float: right;
	
	padding: 4px 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

table {
	border-collapse: collapse;
}

table th,
table td {
	text-align: left;
	vertical-align: top;
}
