@mixin button {
	border: none;
	appearance: none;
	-webkit-appearance: none;
	font-size: 1em;
	padding: 10px 20px;
	border-radius: 20px;
	display: inline-block;
	text-decoration: none;
}

/**************************************
* Primary button
**************************************/

.primaryButton,
.primaryButton:visited {
	@include button;
	background-color: #ED1C5F;
	color: white;
}

.primaryButton:hover {
	background-color: #bd144a;
}

/**************************************
* Secondary button
**************************************/

.secondaryButton,
.secondaryButton:visited {
	@include button;
	border: 2px solid  #222;
	background-color: #fff;
	color: #222;
}

.secondaryButton:hover {
	background-color: #222;
	color: #fff;
}

/**************************************
* Ghost
**************************************/

.ghostButton,
.ghostButton:visited {
	@include button;
	border: 2px solid #fff;
	background-color: none;
	color: #fff;
}

.ghostButton:hover {
	background-color: #fff;
	color: #ED1C5F;
}