@mixin button {
	border: none;
	appearance: none;
	-webkit-appearance: none;
	font-size: 1em;
	padding: 10px 30px;
	border-radius: 20px;
	display: inline-block;
	text-decoration: none;
}

/**************************************
* Primary button
**************************************/

.primaryButton,
.primaryButton:visited {
	@include button;
	background-color: #ED1C5F;
	color: white;
}

.primaryButton:hover {
	background-color: #bd144a;
}

/**************************************
* Secondary button
**************************************/

.secondaryButton,
.secondaryButton:visited {
	@include button;
	border: 2px solid  #ED1C5F;
	background-color: #fff;
	color: #ED1C5F;
}

.secondaryButton:hover {
	// background-color: #ED1C5F;
	// color: #fff;
}